{{ define "main" }}
  <main class="site-main section-inner thin animated fadeIn faster">
    <h1>{{ .Title }}</h1>
    {{- if .Content }}
    <div class="content">
      {{ .Content }}
    </div>
    {{- end }}

    {{ if .Params.comments }}
    <!-- Show Disqus comments -->
      {{ template "_internal/disqus.html" . }}
    {{ end }}


  </main>
{{ end }}

{{ define "header" }}
  {{ partialCached "header.html" . }}
{{ end }}

{{ define "footer" }}
  {{ partialCached "footer.html" . }}
{{ end }}

